@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

img {
    width: 50px;
    height: 50px;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

:root {
    --blue: rgb(77, 119, 209);
    --grey: #eee;
    --grey2: #C0C0C0;
    --white: #FDFDFD;
    --orange: #FDFDFD;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    
}

.header {
    grid-area: header;
    display: grid;
    background-color: var(--white);
    z-index: 1;
    box-shadow: 0px 2px 10px 3px rgba(210, 213, 216, 1);


}

.top-header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    
}

.top-header-left {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
}

.top-header-left > input {
    border-radius: 20px;
    max-width: 1000px;
    height: 2.2rem;
    background-color: var(--grey);
    border: none;
    padding: 0.6rem;
}

.top-header-left > input:focus {
    outline: 2px solid var(--grey2);
}

.top-header label[for="searchbar"]{
    cursor: pointer;
}

.top-header img {
    width: 25px;
    height: 25px;
}
.top-header  .avatar {
    width: 50px;
    height: 50px;
}

.top-header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
}

.top-header-right .user-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-header .avatar {
    width: 100px;
    height: 100px;
}

.bottom-header-left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
}

.greetings {
    font-weight: bold;
}

.greetings-hi {
    font-size: 1.1rem;
    line-height: 2;
}

.greetings-name {
    font-size: 1.5rem;
}


.bottom-header-right {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem;
    
}


.bottom-header-right .header-btn{
    padding: 0.8rem 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: max-content;
    gap: 2rem;
    color: var(--white);
    padding: 20px;
    background-color: var(--blue);
    font-weight: bold;
}

.top-sidebar {
    display: grid;
    grid-template-columns: 75px max-content;
    align-items: center;
    font-size: 2rem;
}

.top-sidebar img {
    height: 75px;
    width: 75px;
}
.nav-item, .other-item {
    display: grid;
    grid-template-columns: 30px max-content;
    grid-auto-rows: max-content;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
}

.nav-item img, .other img {
    height: 30px;
    width: 30px;
}

.nav-item:hover, .other-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main-content {
    display: grid;
    background-color: var(--grey);
    grid-template-columns: 3fr 1fr;
}

.main-content-left h2{
    margin: 2rem 0rem 0rem 0rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-template-rows: max-content;
    grid-auto-rows: 200px;
    margin: 1rem;
    gap: 1rem;
}

.projects h2 {
    grid-column: span 2;
}

.projects-item {
    background-color: var(--white);
    padding: 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 3px rgba(210, 213, 216, 1);
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.projects-item p {
    color: gray;
}
.projects-icons {
    justify-self: self-end;
    align-self: self-end;
    margin-top: 1rem;
}
.projects-icons img {
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.main-content-right {
    display: grid;
    grid-template-rows: repeat(4, max-content);
    gap: 1rem;
}

.announcements h2 {
    margin: 2rem 0rem 0rem 0rem;
}




/*debbuging purposes*/

/* .top-header-left {
    border: 1px solid pink;
}

.top-header-right {
    border: 1px solid red;
} */

/* .bottom-header {
    border: 1px solid blue;
} 

.bottom-header-left {
    border: 1px solid pink;
}

.bottom-header-right {
    border: 1px solid pink;
} */

.main-content-left {
    background-color: var(--grey);
}
/* 
.top-sidebar {
    border: 1px solid wheat;
}

.nav-item {
    border: 1px solid wheat
} */

.announcements {
    background-color: pink;
}

.trending {
    background-color: blueviolet;
}